@font-face
    font-family 'Futura Md BT'
    src url('../../fonts/hinted-FuturaBT-Medium.eot')
    font-weight 500
    font-style normal

@font-face
    font-family 'Futura Md BT'
    src local('Futura Md BT Medium'), local('FuturaBT-Medium'), url('../../fonts/hinted-FuturaBT-Medium.ttf') format('truetype'), url('../../fonts/hinted-FuturaBT-Medium.svg#FuturaBT-Medium') format('svg')
    font-weight 500
    font-style normal