// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)
    .superFold__title
        font-size 14vw
    .superFold__subtitle
        font-size 4vw
    .superFold__link
        font-size 1.5em
    .superFold
        grid-template-areas "header header header" "header header header" "header header header" "footer footer footer"
        background-image url(../img/background-lasvegas-576px.jpg)
    .superFold__menu
        flex-wrap wrap
    .superFold__item
        width 50%
// 1.25dpi
@media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
    .superFold
        background-image url(../img/background-lasvegas-720px.jpg)
// 1.5dpi
@media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
    .superFold
        background-image url(../img/background-lasvegas-864px.jpg)
// 2dpi
@media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
    .superFold
        background-image url(../img/background-lasvegas-1152px.jpg)
// 3dpi
@media (max-width: 575px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
    .superFold
        background-image url(../img/background-lasvegas-1728px.jpg)


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)
    .superFold
        background-image url(../img/background-lasvegas-768px.jpg)
    .superFold__title
        font-size 14vw
    .superFold__subtitle
        font-size 2.5vw
    .superFold__link
        font-size 1.8em
    .superFold
        grid-template-areas "header header header" "header header header" "header header header" "footer footer footer "
        background-image url(../img/background-lasvegas-576px.jpg)
    .superFold__menu
        flex-wrap wrap
    .superFold__item
        width 50%
// 1.25dpi
@media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
    .superFold
        background-image url(../img/background-lasvegas-960px.jpg)
// 1.5dpi
@media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
    .superFold
        background-image url(../img/background-lasvegas-1152px.jpg)
// 2dpi
@media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
    .superFold
        background-image url(../img/background-lasvegas-1536px.jpg)
// 3dpi
@media (min-width: 576px) and (max-width: 767px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
    .superFold
        background-image url(../img/background-lasvegas-2304px.jpg)


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)
    .superFold
        background-image url(../img/background-lasvegas-992px.jpg)
    .superFold__title
        font-size 14vw
    .superFold__subtitle
        font-size 2.2vw
    .superFold__link
        font-size 1.8em
    .superFold
        grid-template-areas "header header header" "header header header" "header header header" "footer footer footer "
        background-image url(../img/background-lasvegas-576px.jpg)
    .superFold__menu
        flex-wrap wrap
    .superFold__item
        width 50%
// 1.25dpi
@media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
    .superFold
        background-image url(../img/background-lasvegas-1240px.jpg)
// 1.5dpi
@media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
    .superFold
        background-image url(../img/background-lasvegas-1488px.jpg)
// 2dpi
@media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
    .superFold
        background-image url(../img/background-lasvegas-1984px.jpg)
// 3dpi
@media (min-width: 768px) and (max-width: 991px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
    .superFold
        background-image url(../img/background-lasvegas-2976px.jpg)


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)
    .superFold
        background-image url(../img/background-lasvegas-1200px.jpg)
// 1.25dpi
@media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
    .superFold
        background-image url(../img/background-lasvegas-1500px.jpg)
// 1.5dpi
@media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
    .superFold
        background-image url(../img/background-lasvegas-1800px.jpg)
// 2dpi
@media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
    .superFold
        background-image url(../img/background-lasvegas-2400px.jpg)
// 3dpi
@media (min-width: 992px) and (max-width: 1199px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
    .superFold
        background-image url(../img/background-lasvegas-3600px.jpg)


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
    .superFold
        background-image url(../img/background-lasvegas-1920px.jpg)
// 1.25dpi
@media (min-width: 1200px) and (-webkit-max-device-pixel-ratio: 1.25) and (max-resolution: 120dpi)
    .superFold
        background-image url(../img/background-lasvegas-2400px.jpg)
// 1.5dpi
@media (min-width: 1200px) and (-webkit-max-device-pixel-ratio: 1.5) and (max-resolution: 144dpi)
    .superFold
        background-image url(../img/background-lasvegas-2880px.jpg)
// 2dpi
@media (min-width: 1200px) and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi)
    .superFold
        background-image url(../img/background-lasvegas-3840px.jpg)
// 3dpi
@media (min-width: 1200px) and (-webkit-max-device-pixel-ratio: 3) and (max-resolution: 328dpi)
    .superFold
        background-image url(../img/background-lasvegas-5760px.jpg)
        