.superFold
    min-width 100%
    height 100vh
    overflow hidden
    position relative
    display grid
    grid-template-columns auto
    grid-template-rows auto
    grid-template-areas ". . . . . . . ."  ". . . . . . . ." ". header header header header header header ." ". header header header header header header ." ". header header header header header header ." ". header header header header header header ." ". . . . . . . ." ". . . . . . . ." "footer footer footer footer footer footer footer footer"
    background-color darken($color__five, 20)
    background-position center center
    background-clip content-box
    background-size cover
    background-attachment fixed
.superFold__header
    display flex
    flex-direction column
    justify-content center
    align-items center
    grid-area header
.superFold__title
    font-family 'Futura Md BT', 'Arial', sans-serif
    font-size 10vw
    text-align center
    color $color__three
    text-shadow 2px 2px 0 $color__one
    margin 0 auto
.superFold__subtitle
    font-family 'Futura Md BT', 'Arial', sans-serif
    font-size 1.5vw
    // font-size 25px
    text-align center
    margin 0 auto
    color $color__one
    text-shadow 2px 2px 2px $color__five
    position relative
    &:before
        content " "
        width 120%
        height 2px
        background $color__three
        position absolute
        bottom -15px
        left -10%
.superFold__menu
    display flex
    width 100%
    list-style none
    margin 0
    padding 0
    justify-content space-between
    grid-area footer
.superFold__item
    display table-cell
    width 25%
.superFold__link
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
    font-family 'Futura Bk BT', 'Arial', sans-serif
    color $color__one
    text-decoration none
    font-size calc(20vw / 6)
    font-variant small-caps
    transition .2s ease-in-out all
    .icon
        width 1.2em
        height 1.2em
        margin auto .4em auto 0

    
    &:hover
        background-color $color__one
        color $color__five