.superFold
    min-width 100%
    height 100vh
    overflow hidden
    position relative
    display grid
.superFold__header
    display flex
    width 100vw
    height 80vh
    flex-direction column
    justify-content center
    align-items center
    background $color__four
.superFold__title
    width 100vw
    font-family 'Futura Md BT', 'Arial', sans-serif
    font-size 10vw
    text-align center
    color $color__one
    text-shadow 4px 4px 0 $color__five
    margin 0 auto
.superFold__subtitle
    font-family 'Futura Md BT', 'Arial', sans-serif
    width 100vw
    font-size 3vh
    text-align center
    margin 0 auto
    color $color__one
    position relative
    &:before
        content " "
        width 70vw
        height 2px
        background $color__one
        position absolute
        bottom -15px
        left calc( calc(100vw - 70vw) / 2)
.superFold__menu
    display flex
    width 100vw
    height 20vh
    list-style none
    margin 0
    padding 0
    flex-direction row
    align-items center
    justify-content space-between
    background $color__five
.superFold__list
    display flex
    width 70vw
    margin 0 auto
    padding 0
    list-style none
.superFold__item
    width calc( 70vw / 4 )
    height 20vh
.superFold__link
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
    font-family 'Futura Md BT', 'Arial', sans-serif
    color $color__one
    text-decoration none
    font-size calc(20vw / 6)
    font-variant small-caps
    transition .2s ease-in-out all
    &:hover
        background-color $color__one
        color $color__five