$color__one = #FFFFF7
$color__tow = #73B1D6
$color__three = #4589B0
$color__four  = #1D628B
$color__five = #444444

$color__facebook = #3B5998
$color__instagram = #8a3ab9

$color__success = #2ecc71
$color__success_border = #27ad60
$color__danger = #e74c3c
$color__danger_border = #c44133
$color__warning = #f4d313
$color__warning_border = #cda70d