extends ./layouts/default.pug

block content
    section.superFold
        header.superFold__header
            h1.superFold__title André Van Dal
            h2.superFold__subtitle desenvolvimento, marketing & consultoria

        div.superFold__menu
            ul.superFold__list
                li.superFold__item
                    a(href="#").superFold__link Blog
                li.superFold__item
                    a(href="#").superFold__link Portifólio
                li.superFold__item
                    a(href="#").superFold__link Sobre mim
                li.superFold__item
                    a(href="#").superFold__link Contato
