extends ./layouts/default.pug

block content
    .wrapper
        header.header
            h1 Hello World! =D
        .sidebar
            p sidebar
        .content
            p content
        .footer
            p footer